<!--
 * @Author: raoqidi
 * @Date: 2021-07-11 16:06:55
 * @LastEditors: raoqidi
 * @LastEditTime: 2021-07-11 16:07:04
 * @Description: please add a description to the file
 * @FilePath: /moshify/components/hero.html
-->
<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">Deploy your websites in less than 60 seconds</p>
      <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <img class="hero__image" src="/images/banner.png" alt="" />
  </div>
</section>
