<!--
 * @Author: raoqidi
 * @Date: 2021-07-11 14:17:01
 * @LastEditors: raoqidi
 * @LastEditTime: 2021-07-11 14:17:01
 * @Description: please add a description to the file
 * @FilePath: /moshify/components/media.html
-->
<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="/images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti,
      laborum. Sed earum, sapiente explicabo quis cumque quod qui atque numquam
      veritatis tempore voluptate impedit dolorum hic totam facere ratione?
      Perspiciatis.
    </p>
  </div>
</div>
